@media (min-width: 1200px) {
	.carousel {
		.tns-nav {
			display: none;
		}
	}
}
@media (max-width: 1199px) {
	.container {
		max-width: 850px;
	}
	.carousel {
		.tns-nav {
			display: none;
		}
		.prev {
			left:-55px;
		}
		.next{
			left: auto;
			right: -55px;
			}
	}
	.catalog {
		&-item {
			width: 275px;
			&__old-price {
				font-size: 13px;
				line-height: 13px;
			}
			&__price {
				font-size: 18px;
				line-height: 18px;
			}
			&__descr {
				font-size: 13px;
			}
			&__list {
				li {
					font-size: 13px;
				}
			}
			&__block {
				&_active {
					padding-left: 19px;
					padding-right: 5px;
				}
			}
		}
	}
	.button {
		&_mini {
			width: 125px;
			height: 40px;
		}
	}
	.reviews {
		&__block {
			width: 100%;
		}
		&__photo {
			margin-right: 48px;
		}
	}
	.footer {
		&__info {
			padding: 40px 53px;
			left: 100%;
			transform: translateX(-100%);
			width: 430px;
			height: 246px;

		}
	}
	.pageup {
		bottom: 115px;
		right: 11px;
		span {
			color: pink;
		}
	}
}
@media (max-width: 991px) {
	.container {
		max-width: 720px;
	}
	.promo {
		&__wrapper {
			align-items: center;
		}
	}
	.title{
		&_left{
			width: 675px;
			font-size: 30px;
			line-height: 45px;
		}
	}
	.carousel {
		&__wrapper {
			width: 100%;
		}
		.prev, .next {
			display: none;
		}
		.tns-nav {
			display: block;
		}
		.tns-item{
			img {
				width: 85%;
			}
		}
	}
	.catalog {
		&__tab {
			width: 190px;
			height: 45px;
			line-height: 43px;
			font-size: 16px;
			&:hover {
				box-shadow: 3px 3px 10px $main-color;
			}
		}
		&__content {
			justify-content: space-around;
		}
		&-item {
			width: 303px;
			&__old-price {
				font-size: 14px;
				line-height: 14px;
			}
			&__price {
				font-size: 20px;
				line-height: 20px;
			}
			&__descr {
				font-size: 14px;
			}
			&__list {
				li {
					font-size: 14px;
				}
			}
			&__block {
				&_active {
					padding-left: 24px;
					padding-right: 18px;
				}
			}
		}
	}
	.button {
		&_mini {
			width: 135px;
			height: 44px;
		}
	}
	.reviews {
		&__block {
			width: 100%;
		}
		&__photo {
			margin-right: 45px;
		}
	}
	.footer {
		height: 600px;
		&__info {
			padding: 24px 20px;
			width: 370px;
			height: 212px;
		}
	}
	.pageup {
		span {
			color: pink;
			opacity: 0.6;
		}
	}
}
@media (max-width: 767px) {
	.container {
		max-width: 95vw;
	}
	.promo {
		min-height: 600px;
		padding: 21px 0 69px 0;
		&__wrapper {
			margin-top: 70px;
		}
		&__header {
			font-size: 40px;
			line-height: 40px;
		}
		&__subheader {
			font-size: 22px;
			line-height: 22px;
		}
	}
	.header {
		&__logo {
			width: 210px;
		}
		&__official {
			font-size: 11px;
			line-height: 11px;
			span {
				margin-top: 10px;
				font-size: 16px;
			}
		}
		&__phone {
			font-size: 15px;
		}
	}
	.button {
		width: 130px;
		&_main {
			width: 300px;
		}
		&_submit {
			width: 100%;
		}
		&_mini {
			width: 110px;
			height: 35px;
			font-size: 13px;
		}
	}
	.advantages {
		&__wrapper {
			flex-wrap: wrap;
			justify-content: center;
			margin-top: 50px;
		}
		&__item {
			width: 260px;
			&:nth-child(3) {
				margin-top: 25px;
				width: 390px;
			}
		}
		&__subtitle {
			margin-top: 15px;
		}
		&__descr {
			margin-top: 10px;
		}
	}
	.title {
		&_left {
			width: 95%;
			font-size: 24px;
			line-height: 36px;
		}
	}
	.consultation {
		min-height: 600px;
		padding: 85px 0 85px 0;
		&__subtitle {
			margin-top: 10px;
			font-size: 18px;
			line-height: 24px;
		}
	}
	.catalog {
		&-item {
			width: 260px;
			&__descr {
				font-size: 12px;
				line-height: 20px;
			}
			&__old-price {
				font-size: 13px;
			}
			&__price {
				font-size: 18px;
			}
			&__list {
				li {
					font-size: 12px;
					line-height: 20px;
				}
			}
			&__block {
				&_active {
					padding-left: 19px;
					padding-right: 5px;
				}
			}
		}
		&__tab {
			width: 155px;
			height: 40px;
			line-height: 38px;
			font-size: 14px;
		}
	}
	.reviews {
		&__wrapper {
			flex-direction: column;
			align-items: center;
		}
		&__photo {
			margin-right: 0px;
			margin-bottom: 20px;
		}
		&__name {
			text-align: center;
		}
		&__block {
			width: 92%;
		}
	}
	.footer {
		height: 500px;
		&__info {
			top: auto;
			bottom: 12px;
			left: 0;
			transform: translateX(0%);
			padding: 20px 20px;
			width: 370px;
			height: 185px;
		}
		&__addr {
			font-size: 18px;
			line-height: 18px;
			margin-bottom: 25px;
		}
		&__phone {
			font-size: 18px;
			line-height: 18px;
			margin-bottom: 25px;
		}
		&__socials {
			width: 200px;
		}

	}
	
}
@media (max-width: 575px) {
	.container {
		width: 90vw;
	}
	.header {
		&__logo {
			width: 160px;
		}
		&__official {
			display: none;
		}
		&__phone {
			font-size: 13px;
		}
	}
	.button {
		width: 118px;
		height: 28px;
		font-size: 10px;
		&_main {
			margin-top: 45px;
			width: 210px;
			height: 35px;
			font-size: 13px;
		}
		&_submit {
			width: 100%;
			height: 45px;
			font-size: 14px;
		}
		&_mini {
			width: 125px;
			height: 40px;
			font-size: 14px;
		}
	}
	.promo {
		min-height: 450px;
		padding: 20px 0 25px 0;
		&__wrapper {
			margin-top: 60px;
		}
		&__header {
			font-size: 24px;
			line-height: 24px;
		}
		&__subheader {
			font-size: 13px;
			line-height: 13px;
		}
		&__icons {
			width: 290px;
			margin-top: 35px;
		}
		&__icon {
			width: 95px;
			font-size: 11px;

		}
		&__link {
			font-size: 14px;
		}
	}
	.advantages {
		padding: 25px 0;
		&__wrapper {
			margin-top: 25px;
		}
		&__item {
			width: 81%;
			&:nth-child(2) {
				margin-top: 25px;
			}
			&:nth-child(3) {
				width: 81%;
			}
		}
		&__subtitle {
			margin-top: 10px;
		}
		&__descr {
			margin-top: 5px;
		}
			
		
	}
	.title {
		font-size: 22px;
		line-height: 22px;
		&_left {
			font-size: 21px;
			line-height: 25px;
		}
	}
	.consultation {
		min-height: 410px;
		padding: 25px 0;
		&__subtitle {
			font-size: 14px;
			line-height: 18px;
		}
		label.error {
			margin-bottom: 10px;
			font-size: 13px;
		}
	}
	.feed-form {
		width: 240px;
		margin-top: 25px;
		input {
			height: 45px;
			padding: 0 15px;
		}
		&_mt25 {
			margin-top: 20px;
		}
	}
	.carousel {
		padding: 30px 0;
	}
	.catalog {
		padding-bottom: 20px;
		&__tabs {
			margin-top: 25px;
			flex-wrap: wrap;
		}
		&__tab {
			margin-bottom: 10px;
		}
		&__content {
			margin-top: 20px;
		}
		&-item {
			width: 275px;
			&__old-price {
				font-size: 13px;
				line-height: 13px;
			}
			&__price {
				font-size: 18px;
				line-height: 18px;
			}
			&__descr {
				font-size: 13px;
			}
			&__list {
				li {
					font-size: 12px;
				}
			}
			&__block {
				&_active {
					padding-left: 19px;
					padding-right: 5px;
				}
			}
		}
	}
	.reviews {
		&__wrapper {
			margin-top: 25px;
		}
		&__block {
			width: 100%;
		}
		&__photo {
			margin-bottom: 13px;
			width: 149px;
			height: 149px;
		}
		&__name {
			font-size: 17px;
			line-height: 17px;
			span {
				font-size: 13px;
				line-height: 13px;
			}
		}
		&__review {
			margin-top: 13px;
			font-size: 14px;
			line-height: 20px;
		}
	}
	.footer {
		height: 350px;
		&__info {
			top: auto;
			bottom: 12px;
			left: 0;
			transform: translateX(0%);
			padding: 5px 0px;
			width: 200px;
			height: 114px;
		}
		&__addr {
			font-size: 14px;
			line-height: 14px;
			margin-bottom: 14px;
		
		}
		&__phone {
			font-size: 14px;
			line-height: 14px;
			margin-bottom: 14px;
		}
		&__socials {
			width: 150px;
		}
		&__socials-link {
			width: 30px;
			height: 30px;
			span {
				font-size: 16px;
			}
		}

	}
	.modal {
		padding: 25px 20px 20px 20px;
		width: 280px;
		min-height: 320px;
		top: 46%;
		&_mini {
			padding: 15px 28px 15px 28px;
			width: 250px;
			min-height: 75px;
		}
		&__subtitle {
			font-size: 15px;
			line-height: 15px;
		}
		&__descr {
			font-size: 11px;
			line-height: 11px;
		}
		&__close {
			right: 5px;
			font-size: 30px;
			line-height: 25px;
			&_mini {
				font-size: 25px;
				line-height: 20px;
			}
		}
		label.error {
			margin-bottom: 10px;
			font-size: 13px;
		}
	}
	.pageup {
		bottom: 113px;
		right: 10px;
		span {
			font-size: 30px;
		}
	}


	
}
