.catalog {
	padding-bottom: 60px;
	&__tabs {
		margin: 0;
		padding: 0;
		list-style-type: none;
		margin-top: 50px;
		display: flex;
		justify-content: center;
	}
	&__tab {
		margin: 0 5px;
		width: 222px;
		height: 52px;
		border: 2px solid #D0D0D0;
		font-weight: 500;
		font-size: 18px;
		line-height: 50px;
		text-align: center;
		text-transform: uppercase;
		color: #6B6B6B;
		transform: skewX(-25deg);
		cursor: pointer;
		transition: 0.5s all;
		&:hover {
			box-shadow: 3px 3px 20px $main-color;
			border: none;
		}
		div {
			transform: skewX(25deg);
		}
		&_active {
			background-color: $main-color;
			color: #fff;
			border: none;
		}
	}
	&__content {
		margin-top: 57px;
		display: none;
		flex-wrap: wrap;
		justify-content: space-between;
		&_active {
			display: flex;
		}
	}
	&-item {
		width: 303px;
		min-height: 442px;
		border: 2px solid #E8E8E8;
		background: #FFFFFF;
		padding: 19px 20px;
		overflow: hidden;
		margin-bottom: 19px;
		&__img {
			max-width: 100%;
			height: 200px;
			display: block;
			margin: 0 auto;
		}
		&__subtitle {
			margin-top: 14px;
			font-weight: 700;
			font-size: 16px;
			line-height: 25px;
			text-align: center;
			color: #0D0D0D;
		}
		&__descr {
			margin-top: 14px;
			font-weight: 300;
			font-size: 14px;
			line-height: 22px;
			text-align: center;
			color: #0D0D0D;
		}
		&__link {
			display: block;
			margin-top: 10px;
			font-weight: 500;
			font-size: 14px;
			line-height: 14px;
			text-align: center;
			text-decoration-line: underline;
			color: $main-color;
			text-transform: uppercase;
			&:hover {
				color: $main-color;
			}
		}
		&__footer {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		}
		&__old-price {
			font-weight: 300;
			font-size: 14px;
			line-height: 14px;
			text-decoration-line: line-through;
			color: #555555;
		}
		&__price {
			font-weight: 700;
			font-size: 20px;
			line-height: 20px;
			color: #050505;
		}
		hr {
			margin: 17px 0;
		}
		&__wrapper {
			display: flex;
			width: calc(200% + 40px);
		}
		&__content {
			width: 50%;
			margin-right: 0px;
			transform: translateX(-100%);
			transition: 0.5s all;
			&_active {
				transform: translateX(0%);
				margin-right: 20px;
			}
		}
		&__block {
			position: relative;
			width: 50%;
			margin-left: 20px;
			transform: translateX(0%);
			transition: 0.5s all;
			&_active {
				transform: translateX(-100%);
				margin-left: 0px;
				padding-left: 24px;
				padding-right: 18px;
			}
		}
		&__list {
			position: relative;
			width: 100%;
			list-style-type: none;
			padding-left: 0px;
			margin-bottom: 0px;
			li {
				position: relative;
				font-weight: 300;
				font-size: 14px;
				line-height: 21px;
				color: #555555;
				margin-bottom: 10px;
				&::before {
					content: '';
					position: absolute;
					width: 5px;
					height: 5px;
					background-color: $main-color;
					top: 8px;
					left: -19px;
				}
			}
		}
		&__back {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(calc(-50% - 12px));
			display: block;
			text-transform: uppercase;
			text-decoration: underline;
			color: $main-color;
			font-size: 14px;
			line-height: 14px;
			font-weight: 500;
			&:hover {
				color: $main-color;
			}
		}

	}
}